<!-- landing.component.html -->
<div id="nosotros" class="container my-5 pt-5">
    <div class="box1">
        <h2 class="text1">Colores que inspiran</h2>
        <h2 class="text2">Calidad que perdura</h2>
        <a class="contact" href="#contact"></a>
    </div>
    <div class="box2">
    </div>

</div>

<div id="catalogo" class="container my-5 pt-5">
    <h2>Catálogo</h2>
    <p>Información del catálogo...</p>
</div>

<div id="contact" class="container my-5 pt-5">
    <h2>Contáctanos</h2>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>